NEXT_PUBLIC_APP_URL=https://koro.xyz
NEXT_PUBLIC_REOWN_PROJECT_ID=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6
NEXT_PUBLIC_ROBINHOOD_CHAIN_RPC=https://rpc.mainnet.chain.robinhood.com
NEXT_PUBLIC_ROBINHOOD_CHAIN_ID=4663
NEXT_PUBLIC_ROBINHOOD_TESTNET_RPC=https://rpc.testnet.chain.robinhood.com
NEXT_PUBLIC_ROBINHOOD_TESTNET_CHAIN_ID=46630
NEXT_PUBLIC_DEFAULT_NETWORK=mainnet
DATABASE_URL="file:./dev.db"

# Verified Robinhood Chain Smart Contracts
NEXT_PUBLIC_HARBERGER_POST_CONTRACT=0xe533Dca2Cf7991EaBFc5754F5a0e4889c016F5B3
NEXT_PUBLIC_POST_NFT_CONTRACT=0x5C8bB58f41E66Af86cFAF46406d00fff0dCe1927
NEXT_PUBLIC_LEASE_BOOK_CONTRACT=0x063Bb5840B13A80e8C9Da1bA01baAFc87C8E56c2
NEXT_PUBLIC_CALL_AUCTION_CONTRACT=0x5FA33A8126820Ade22EC3a356582e755E8c90A4D
NEXT_PUBLIC_FLOOR_POOL_CONTRACT=0x15c46Ab11e395900b034F20533701C3998c4d034
NEXT_PUBLIC_TREASURY_CONTRACT=0x40791fF1784B43d8BB75eA41bdA6006a4736778C
NEXT_PUBLIC_STAKING_CONTRACT=0x4E95D1231AAA434C2328026d2be64f40839FFb47
NEXT_PUBLIC_RPOSTS_TOKEN_CONTRACT=0x9AB63f447Ff7e6F68e65016CBcf794326cfB75AF
